.color{
    background-color: #ffcc51;
}

.mmb-select {
    width: 70px;
}

.btn-color{
    background: #ffcc51;
}

@media screen and (max-width: 767px) {
    .btn-tam{
        margin-left: 377px;
    }
}

@media screen and (max-width: 565px) {
    .btn-tam{
        margin-left: 370px;
    }
}

@media screen and (max-width: 540px) {
    .btn-tam{
        margin-left: 350px;
    }
}

@media screen and (max-width: 414px) {
    .btn-tam{
        margin-left: 224px;
    }
}

@media screen and (max-width: 411px) {
    .btn-tam{
        margin-left: 221px;
    }
}

@media screen and (max-width: 375px) {
    .btn-tam{
        margin-left: 185px;
    }
}

@media screen and (max-width: 360px) {
    .btn-tam{
        margin-left: 170px;
    }
}

@media screen and (max-width: 320px) {
    .btn-tam{
       // margin-left: 130px;
        margin-left: 90px;
    }
}

@media screen and (max-width:280px) {
    .btn-tam{
        margin-left: 90px;
    }
}

.btn_login{
    width: 60%;
}
.btn_goole{
    font-size: 0.8rem;
}

@media screen and (max-width: 345px) {
    .btn_login{
       /*  width: 66%; */
        width: 96%;
        height: 100%;
    }

    #icono_m {
        display: none;
    }

    .img_tecbaco{
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 991px) {
    .img-avatar {
        display: initial;
    }

    .btn_login{ 
        width: 60%;
        height: 100%;
        font-size: 0.7rem;
    }

    #icono_m {
        display: none;
    }

    .btn_goole {
        font-size: 0.6rem;
    }
    
}

